@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap');

:root {
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    background-color: #fffafa;
}

p {
    margin: 0.5rem 0;
}

label {
    font-size: 1.25rem;
}

#firstLabel {
    display: flex;
    justify-content: space-between;
}

#formCloseBtn {
    position: relative;
    bottom: 12px;
    left: 8px;
}

.primaryBtn {
    padding: 16px 32px;
    border-radius: 48px;
    background-color: #e9ffe0;
    border: 2px solid green;
    font-size: 1rem
}

.primaryBtn:hover {
    background-color: #c3ffac;
    cursor: pointer;
}

.head {
    display:grid;
    grid-template-columns: auto auto 1fr;
    gap: 2rem;
    padding: 0 2%;
    background-color: #f0f8ff;
    align-items: center;
    justify-items: end
}

.head p {
    text-align: center;
}

#myForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(255,250,250,1) 72%, rgba(240,248,255,1) 96%);
    padding: 3% 3%;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 20px 4px rgba(66, 68, 90, 0.4);
    -moz-box-shadow: 5px 5px 20px 4px rgba(66, 68, 90, 0.4);
    box-shadow: 5px 5px 20px 4px rgba(66, 68, 90, 0.4);
    
}

#radios {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem
}

.inputs {
  display: grid;
}

.inputs input {
    margin-bottom: 1rem;
}

#library {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 1% 2%;
}

#library > div {
    background-color: #faebd7;
    border-radius: 24px;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
}

#library p {
    justify-self: center;
}

.delBtn {
    grid-column: 2;
    grid-row: 1/5;
    height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid black;
}

.delBtn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

